<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学生信息管理</title>
  <link rel="stylesheet" href="/stuinfo/layui/css/layui.css">
  <script src="/stuinfo/layui/layui.js"></script>
  <script src="/stuinfo/js/vue.js"></script>
  <script src="/stuinfo/js/jquery.min.js"></script>
  <style>
    td {
      text-align: center;
      width: 190px
    }
  </style>
</head>
<body>
<!--

条件查询区域

-->
<table class="layui-table" lay-skin="line" id="table_info_id">
  <tbody>
  <tr>
    <td>查询条件</td>
    <td>
      <button class="layui-btn layui-btn-radius layui-btn-primary" @click="queryUserInfo(1)">查询
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <div class="layui-input-inline">
        <input type="text" v-model="inputUserNumber" placeholder="学生学号"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-input-inline">
        <input type="text" v-model="inputStuClass" placeholder="学生班级"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="layui-input-inline">
        <input type="text" v-model="inputDepart" placeholder="所在系"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-input-inline">
        <input type="text" v-model="inputSchoolYear" placeholder="入学年线"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
  </tr>
  </tbody>
</table>
<!--

查询数据显示区域

-->
<table class="layui-table" lay-skin="line" id="table_info_show_id" style="overflow-x: scroll">
  <tr>查询结果显示区域</tr>
  <thead>
  <tr>
    <td>修改</td>
    <td>删除</td>
    <td>学号</td>
    <td>班级</td>
    <td>姓名</td>
    <td>密码</td>
    <td>学院</td>
    <td>系</td>
    <td>手机号</td>
    <td>入学年限</td>
  </tr>
  </thead>
  <tr v-for="(stuNumber,index) in stuNumbers">
    <td>
      <button @click="edit(index)" class="layui-btn layui-btn-radius">修改</button>
    </td>
    <td>
      <button @click="del(index)" class="layui-btn layui-btn-radius layui-btn-danger">删除</button>
    </td>
    <td>
      <div class="layui-input-inline" style=" width: 190px">
        <input type="text" :value="stuNumber" :id="'stuNumber'+index"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-input-inline" style=" width: 190px">
        <input type="text" :value="stuClasses[index]" :id="'stuClass'+index"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-input-inline" style=" width: 190px">
        <input type="text" :value="names[index]" :id="'name'+index"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-input-inline" style=" width: 190px">
        <input type="text" :value="passwords[index]" :id="'password'+index"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-form layui-input-inline" style=" min-width: 190px">
        <div class="layui-form-item">
          <label class="layui-form-label">{{colleges[index]}}</label></br>
          <div class="layui-input-inline">
            <select :lay-filter="'college'+index" :id="'change_college_id'+index">
              <option value="">请选择一个学院</option>
              <option v-for="(college,i) in collegeInColleges[index]"
                      :value="college">{{college}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="layui-form layui-input-inline" style=" min-width: 190px">
        <div class="layui-form-item">
          <label class="layui-form-label">{{departs[index]}}</label></br>
          <div class="layui-input-inline">
            <select :lay-filter="'depart'+index" :id="'change_depart_id'+index">
              <option value="">请选择一个系</option>
              <option v-for="(depart,i) in departInDeparts[index]"
                      :value="depart" v-if="depart!=departs[index]">{{depart}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="layui-input-inline" style=" width: 190px">
        <input type="text" :value="phones[index]" :id="'phone'+index"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td>
      <div class="layui-input-inline" style=" width: 190px">
        <input type="text" :value="inSchoolYears[index]" :id="'inSchoolYear'+index"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
  </tr>
  <!--  <tr>-->
  <!--    <td>-->
  <!--      <div id="page_div_id" v-if="stuNumbers.length>0"></div>-->
  <!--    </td>-->
  <!--  </tr>-->
  <tbody>
  </tbody>
</table>
</body>
<script src="/stuinfo/js/requestSchoolInfo.js"></script>
<script src="/stuinfo/js/json2.js"></script>
<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use('element', function () {
    var element = layui.element;

    //…
  });

</script>
<script>
  var table_info_id_vue = new Vue({
    el: '#table_info_id',
    data: {
      /**
       *查询条件
       */
      inputUserNumber: '',
      inputStuClass: '',
      inputDepart: '',
      inputSchoolYear: '',
    },
    methods: {
      /**
       * 信息查询
       */
      queryUserInfo(type) {
        //老师
        if (type === 0) {

        }
        //学生
        else if (type === 1) {
          let studentCondition = {};
          //学生查询条件
          if (this.inputUserNumber.trim()) {
            studentCondition.stuNumber = this.inputUserNumber.trim();
          }
          if (this.inputStuClass.trim()) {
            studentCondition.stuClass = this.inputStuClass.trim();
          }
          if (this.inputDepart.trim()) {
            studentCondition.depart = this.inputDepart.trim();
          }
          if (this.inputSchoolYear.trim()) {
            studentCondition.inSchoolYear = this.inputSchoolYear.trim();
          }
          if (Object.keys(studentCondition).length === 0) {
            myAlert('请至少选择一个输入条件!!!');
            return;
          }
          queryUserInfo('/stuinfo/sctc/qsis', studentCondition);
        }
      }
    }
  });

  function queryUserInfo(url, data) {
    $.post(url, data, function (response) {
      try {
        if (response) {
          if (response.length > 0) {
            let t1 = [], t2 = [], t3 = [], t4 = [], t5 = [], t6 = [], t7 = [], t8 = [], t9 = [];
            response.forEach((obj, index) => {
              t1.push(obj.stuNumber);
              t2.push(obj.stuClass);
              t4.push(obj.password);
              t3.push(obj.name);
              //学院和系都是id
              // t5.push(obj.college);
              // t6.push(obj.depart);
              t7.push(obj.phone);
              t8.push(obj.inSchoolYear);
              t9.push(obj.id);

              queryDepart(obj.college, obj.depart, index);
            });
            if (t1.length > 0) {
              table_info_show_id_vue.stuNumbers = t1;
              table_info_show_id_vue.stuClasses = t2;
              table_info_show_id_vue.names = t3;
              table_info_show_id_vue.passwords = t4;
              // table_info_show_id_vue.collegeIds = t5;
              // table_info_show_id_vue.departInDepartsIds = t6;
              table_info_show_id_vue.phones = t7;
              table_info_show_id_vue.inSchoolYears = t8;
              table_info_show_id_vue.ids = t9;
              table_info_show_id_vue.collegeInColleges = outerCollegeInColleges;
              table_info_show_id_vue.departInDeparts = outerDepartInDeparts;

            }
            ;
          } else {
            myAlert('没有满足以上条件的数据!!!')
          }
          return;
        }
        myAlert('查询失败!!!');
      } catch (e) {
      }
    }).fail(function () {
      myAlert('查询出现异常!!!');
    })
  }
</script>

<script>

  var outerColleges = [];
  var collegeIds = [];

  var outerCollegeInColleges = [];
  var outerDepartInDeparts = [];
  var departInDepartsDependCollegeIds = [];
  var departInDepartsIds = [];
  // var pageOfLimit = 10;
  /**
   * 查询结果显示区域
   */
  var table_info_show_id_vue = new Vue({
    el: '#table_info_show_id',
    data: {
      ids: [],
      stuNumbers: [],
      stuClasses: [],
      names: [],
      passwords: [],
      phones: [],
      inSchoolYears: [],

      collegeInColleges: [],
      departInDeparts: [],
      colleges: [],
      departs: [],
    },
    updated: function () {
      this.$nextTick(function () {
        setTimeout(function () {
          layui.use('form', function () {
            layui.form.render();
            /**
             * 学院选择事件
             */
            for (let i = 0; i < table_info_show_id_vue.stuNumbers.length; i++) {
              layui.form.on('select(college' + i + ')', function (select) {
                if (select.value) {
                  //获取当前点击的学院的下拉框所在的下标
                  let index = select.elem.id.split('id')[1];
                  // console.log(table_info_show_id_vue.collegeInColleges[index][0])
                  if (select.value !== table_info_show_id_vue.collegeInColleges[index][0]) {
                    // console.log(collegeIds[outerColleges.indexOf(select.value)])
                    queryDepart(collegeIds[outerColleges.indexOf(select.value)], undefined, index,
                        true);
                  } else {
                    queryDepart(collegeIds[outerColleges.indexOf(select.value)],
                        departInDepartsIds[index][outerDepartInDeparts[index].indexOf(
                            table_info_show_id_vue.departs[index])], index,
                        true);
                  }
                }
              });
            }
          });
        }, 100);

        /**
         * 分页
         */
        // layui.use('laypage', function () {
        //   var laypage = layui.laypage;
        //   //执行一个laypage实例
        //   //默认limit:10
        //   laypage.render({
        //     elem: 'page_div_id' //注意，这里的 test1 是 ID，不用加 # 号
        //     , count: table_info_show_id_vue.stuNumbers.length //数据总数，从服务端得到
        //     , jump: function (obj, first) {
        //       //obj包含了当前分页的所有参数，比如：
        //       // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
        //       // console.log(obj.limit); //得到每页显示的条数
        //
        //       //首次不执行
        //       if (!first) {
        //         //do something
        //       }
        //     }
        //   });
        // });
      })
    },
    methods: {
      edit(index) {
        //校验信息合法性
        let stuInfo = {};
        if (!$('#stuNumber' + index).val().trim()) {
          myAlert('请输入学号!!!');
          return;
        }
        if ($('#stuNumber' + index).val().trim() !== this.stuNumbers[index]) {
          stuInfo.stuNumber = $('#stuNumber' + index).val().trim();
        }

        if (!$('#stuClass' + index).val().trim()) {
          myAlert('请输入班级!!!');
          return;
        }
        stuInfo.stuClass = $('#stuClass' + index).val().trim();

        if (!$('#name' + index).val().trim()) {
          myAlert('请输入姓名!!!');
          return;
        }
        stuInfo.name = $('#name' + index).val().trim();

        if (!$('#password' + index).val().trim()) {
          myAlert('请输入密码!!!');
          return;
        }
        stuInfo.password = $('#password' + index).val().trim();

        if (!$('#inSchoolYear' + index).val().trim()) {
          myAlert('请输入入学年线!!!');
          return;
        }
        stuInfo.inSchoolYear = $('#inSchoolYear' + index).val().trim();

        stuInfo.phone = $('#phone' + index).val().trim();

        if ($('#change_college_id' + index).val()) {
          if ($('#change_college_id' + index).val() !== this.colleges[index]) {
            if (!$('#change_depart_id' + index).val()) {
              myAlert('换学院必须换系!!!');
              return;
            }
          }
        }

        if (!$('#change_college_id' + index).val()) {
          stuInfo.college = collegeIds[outerColleges.indexOf(this.colleges[index])];
        } else {
          stuInfo.college = collegeIds[outerColleges.indexOf(
              $('#change_college_id' + index).val())];
        }
        if (!$('#change_depart_id' + index).val()) {
          stuInfo.depart = departInDepartsIds[index][outerDepartInDeparts[index].indexOf(
              this.departs[index])];
        } else {
          stuInfo.depart = departInDepartsIds[index][outerDepartInDeparts[index].indexOf(
              $('#change_depart_id' + index).val())];
        }

        /**
         * 修改信息
         */
        console.log(stuInfo);
        let formData = new FormData();
        formData.append('stuInfo', JSON.stringify(stuInfo));
        formData.append('oldStuNumber', this.stuNumbers[index]);
        $.ajax({
          method: 'post',
          url: '/stuinfo/sctc/usi',
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            if (response) {
              if ($('#stuNumber' + index).val().trim() !== table_info_show_id_vue.stuNumbers[index]) {
                table_info_show_id_vue.stuNumbers[index] = $('#stuNumber' + index).val().trim();
              }
              table_info_id_vue.queryUserInfo(1);
              myAlert('修改成功!!!');
            } else {
              myAlert('该学号已存在,修改失败!!!');
            }
          }
        });

      },
      del(index) {
        //得到当前操作的id
        if (confirm('确认删除学生学号为:' + this.stuNumbers[index] + " 的学生?")) {
          $.post('/stuinfo/sctc/delsi', {id: this.ids[index]}, function (response) {
            if (response) {
              myAlert('删除成功!!!');
              //重新查询数据
              table_info_id_vue.queryUserInfo(1);
            }
          }).fail(function () {
            myAlert('删除失败!!!')
          });
        }
      },
    }
  });

  /**
   * 获取学院信息
   */
  function queryColleges() {
    requestSchoolInfo('/stuinfo/sic/qcs', {}).then(colleges => {
      if (colleges) {
        let tempColleges = [];
        let tempCollegeIds = [];
        colleges.forEach((college) => {
          try {
            tempColleges.push(college.college);
            tempCollegeIds.push(college.id);
          } catch (e) {
            console.log(e)
          }
        });
        if (tempColleges.length > 0) {
          outerColleges = tempColleges;
          collegeIds = tempCollegeIds;
        }
        // renderFrom();
        return;
      }
      myAlert('获取学院信息失败!!!');
    });
  }

  queryColleges();

  /**
   * 获取系信息
   */

  function queryDepart(collegeId, departId, index, partQuery) {
    $.ajax({
      method: 'post',
      url: '/stuinfo/sic/qds',
      data: {collegeId: collegeId},
      async: false,
      success: function (departs) {
        if (departs) {
          let tempDeparts = [];
          let tempDependCollegeIds = [];
          let tempDepartIds = [];
          departs.forEach((depart) => {
            try {
              /**
               *返回的数据形式为[{},{},{}]
               */
              tempDeparts.push(depart.depart);
              tempDependCollegeIds.push(depart.collegeId);
              tempDepartIds.push(depart.id);
            } catch (e) {
            }
          });
          if (tempDeparts.length > 0) {
            function inner() {
              // console.log(tempColleges)
              //系下拉框第一个显示得操作
              let departIndex = tempDepartIds.indexOf(departId);
              let a = tempDeparts[0];
              tempDeparts[0] = tempDeparts[departIndex];
              tempDeparts[departIndex] = a;

              if (!partQuery) {
                table_info_show_id_vue.departs[index] = tempDeparts[0];
              }

              let b = tempDependCollegeIds[0];
              tempDependCollegeIds[0] = tempDependCollegeIds[departIndex];
              tempDependCollegeIds[departIndex] = b;

              let c = tempDepartIds[0];
              tempDepartIds[0] = tempDepartIds[departIndex];
              tempDepartIds[departIndex] = c;
            }

            /**
             * 点击某一行的查询
             */
            if (partQuery) {
              if (departId) {
                inner();
              }
              outerDepartInDeparts[index] = tempDeparts;
              departInDepartsDependCollegeIds[index] = tempDependCollegeIds;
              departInDepartsIds[index] = tempDepartIds;
              console.log(outerDepartInDeparts[index]);
              table_info_show_id_vue.departInDeparts = [];
              table_info_show_id_vue.departInDeparts = outerDepartInDeparts;
            }
            /**
             * 初次条件查询
             */
            else {
              let tempColleges = [];
              tempColleges.push(outerColleges[collegeIds.indexOf(collegeId)]);
              table_info_show_id_vue.colleges[index] = tempColleges[0];
              for (let outerCollege of outerColleges) {
                if (tempColleges.indexOf(outerCollege) === -1) {
                  tempColleges.push(outerCollege);
                }
              }

              inner();

              outerDepartInDeparts[index] = tempDeparts;
              departInDepartsDependCollegeIds[index] = tempDependCollegeIds;
              departInDepartsIds[index] = tempDepartIds;
              outerCollegeInColleges[index] = tempColleges;
            }
          }
          return;
        }
        myAlert('获取系信息失败!!!');
      }
    })
    ;
  }

  function myAlert(content) {
    layer.open({
      title: '提示'
      , content: content
    });
  }

</script>

</html>