<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学生信息管理</title>
  <link rel="stylesheet" href="/stuinfo/layui/css/layui.css">
  <script src="/stuinfo/layui/layui.js"></script>
  <script src="/stuinfo/js/vue.js"></script>
  <script src="/stuinfo/js/jquery.min.js"></script>
  <style>
    td {
      text-align: center;
      width: 190px
    }
  </style>
</head>
<body>
<!--

条件查询区域

-->
<table class="layui-table" lay-skin="line" id="table_info_id">
  <tbody>
  <tr>
    <td>查询条件</td>
    <td>您所在班级：{{teacherClass}}</td>
  </tr>
  <tr>
    <td>
      <div class="layui-input-inline">
        <input type="text" v-model="inputUserNumber" placeholder="学生学号"
               autocomplete="off"
               class="layui-input">
      </div>
      <button class="layui-btn layui-btn-radius layui-btn-primary" @click="queryUserInfo(1)">查询
      </button>
    </td>
    <td>
    </td>
  </tr>
  </tbody>
</table>
<!--

查询数据显示区域

-->
<table class="layui-table" lay-skin="line" id="table_info_show_id" style="overflow-x: scroll">
  <tr>查询结果显示区域</tr>
  <thead>
  <tr>
    <th style="text-align: center">学号</th>
    <th style="text-align: center">班级</th>
    <th style="text-align: center">姓名</th>
    <th style="text-align: center">密码</th>
    <th style="text-align: center">学院</th>
    <th style="text-align: center">系</th>
    <th style="text-align: center">手机号</th>
    <th style="text-align: center">入学年限</th>
  </tr>
  </thead>
  <tr v-for="(stuNumber,index) in stuNumbers">
    <td>
      <label class="layui-form-label">{{stuNumber}}</label>
    </td>
    <td>
      <label class="layui-form-label">{{stuClasses[index]}}</label>
    </td>
    <td>
      <label class="layui-form-label">{{names[index]}}</label>
    </td>
    <td>
      <label class="layui-form-label">{{passwords[index]}}</label>
    </td>
    <td>
      <label class="layui-form-label">{{colleges[index]}}</label>
    </td>
    <td>
      <label class="layui-form-label">{{departs[index]}}</label>
      </div>
    </td>
    <td>
      <label class="layui-form-label">{{phones[index]}}</label>
    </td>
    <td>
      <label class="layui-form-label">{{inSchoolYears[index]}}</label>
    </td>
  </tr>
  <!--  <tr>-->
  <!--    <td>-->
  <!--      <div id="page_div_id" v-if="stuNumbers.length>0"></div>-->
  <!--    </td>-->
  <!--  </tr>-->
  <tbody>
  </tbody>
</table>

<table id="table_file_info_id" class="layui-table" lay-skin="line">
  <thead>
  <th style="text-align: center">获奖文件</th>
  <th style="text-align: center">个人简介</th>
  <th style="text-align: center">成绩</th>
  <th style="text-align: center">实习经历</th>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="layui-input-inline">
        <input type="text" v-model="inputUserNumber" placeholder="学生学号"
               autocomplete="off"
               class="layui-input">
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <button @click="queryFile(0)" class="layui-btn layui-btn-radius">查询</button>
    </td>
    <td>
      <button @click="queryFile(1)" class="layui-btn layui-btn-radius">查询</button>
    </td>
    <td>
      <button @click="queryFile(2)" class="layui-btn layui-btn-radius">查询</button>
    </td>
    <td>
      <button @click="queryFile(3)" class="layui-btn layui-btn-radius">查询</button>
    </td>
  </tr>
  <tr>
    <td style="color: indianred">{{showFileType}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr v-for="(filename , index) in fileNames">
    <td>
      <button @click="download(index)" class="layui-btn layui-btn-radius layui-btn-primary"
      > 下载
      </button>
    </td>
    <td>
      <button @click="del(index)" class="layui-btn layui-btn-radius layui-btn-danger"
      >删除
      </button>
    </td>

    <td>
      <label>{{fileNames[index]}}</label>
    </td>
    <td>
      <label>{{uploadTimes[index]}}</label>
    </td>

  </tr>
  </tbody>

</table>

</body>
<script src="/stuinfo/js/requestSchoolInfo.js"></script>
<script src="/stuinfo/js/json2.js"></script>
<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use('element', function () {
    var element = layui.element;

    //…
  });
  var layer;
  layui.use('layer', function () {
    layer = layui.layer;
  });
  var teacherClass = window.location.href.split('=')[1];

</script>
<script>
  var table_info_id_vue = new Vue({
    el: '#table_info_id',
    data: {
      /**
       *查询条件
       */
      inputUserNumber: '',
      inputStuClass: teacherClass,

      teacherClass: '',
    },
    methods: {
      /**
       * 信息查询
       */
      queryUserInfo(type) {
        let studentCondition = {stuClass: teacherClass};
        //学生查询条件
        if (this.inputUserNumber.trim()) {
          studentCondition.stuNumber = this.inputUserNumber.trim();
        }
        queryUserInfo('/stuinfo/sctc/qsis', studentCondition);

      }
    }
  });

  table_info_id_vue.teacherClass = teacherClass;

  function queryUserInfo(url, data) {
    $.post(url, data, function (response) {
      try {
        if (response) {
          if (response.length > 0) {
            let t1 = [], t2 = [], t3 = [], t4 = [], t5 = [], t6 = [], t7 = [], t8 = [], t9 = [];
            response.forEach((obj, index) => {
              t1.push(obj.stuNumber);
              t2.push(obj.stuClass);
              t4.push(obj.password);
              t3.push(obj.name);
              //学院和系都是id
              // t5.push(obj.college);
              // t6.push(obj.depart);
              t7.push(obj.phone);
              t8.push(obj.inSchoolYear);
              t9.push(obj.id);

              queryDepart(obj.college, obj.depart, index);
            });
            if (t1.length > 0) {
              table_info_show_id_vue.stuNumbers = t1;
              table_info_show_id_vue.stuClasses = t2;
              table_info_show_id_vue.names = t3;
              table_info_show_id_vue.passwords = t4;
              // table_info_show_id_vue.collegeIds = t5;
              // table_info_show_id_vue.departInDepartsIds = t6;
              table_info_show_id_vue.phones = t7;
              table_info_show_id_vue.inSchoolYears = t8;
              table_info_show_id_vue.ids = t9;
              table_info_show_id_vue.collegeInColleges = outerCollegeInColleges;
              table_info_show_id_vue.departInDeparts = outerDepartInDeparts;

            }
            ;
          } else {
            table_info_show_id_vue.stuNumbers = [];
            myAlert('没有满足以上条件的数据!!!')
          }
          return;
        }
        myAlert('查询失败!!!');
      } catch (e) {
      }
    }).fail(function () {
      myAlert('查询出现异常!!!');
    })
  }
</script>

<script>

  var outerColleges = [];
  var collegeIds = [];

  var outerCollegeInColleges = [];
  var outerDepartInDeparts = [];
  var departInDepartsDependCollegeIds = [];
  var departInDepartsIds = [];
  // var pageOfLimit = 10;
  /**
   * 查询结果显示区域
   */
  var table_info_show_id_vue = new Vue({
    el: '#table_info_show_id',
    data: {
      ids: [],
      stuNumbers: [],
      stuClasses: [],
      names: [],
      passwords: [],
      phones: [],
      inSchoolYears: [],

      collegeInColleges: [],
      departInDeparts: [],
      colleges: [],
      departs: [],
    },
    updated: function () {
      this.$nextTick(function () {
        setTimeout(function () {
          layui.use('form', function () {
            layui.form.render();
            /**
             * 学院选择事件
             */
            for (let i = 0; i < table_info_show_id_vue.stuNumbers.length; i++) {
              layui.form.on('select(college' + i + ')', function (select) {
                if (select.value) {
                  //获取当前点击的学院的下拉框所在的下标
                  let index = select.elem.id.split('id')[1];
                  // console.log(table_info_show_id_vue.collegeInColleges[index][0])
                  if (select.value !== table_info_show_id_vue.collegeInColleges[index][0]) {
                    // console.log(collegeIds[outerColleges.indexOf(select.value)])
                    queryDepart(collegeIds[outerColleges.indexOf(select.value)], undefined, index,
                        true);
                  } else {
                    queryDepart(collegeIds[outerColleges.indexOf(select.value)],
                        departInDepartsIds[index][outerDepartInDeparts[index].indexOf(
                            table_info_show_id_vue.departs[index])], index,
                        true);
                  }
                }
              });
            }
          });
        }, 100);

        /**
         * 分页
         */
        // layui.use('laypage', function () {
        //   var laypage = layui.laypage;
        //   //执行一个laypage实例
        //   //默认limit:10
        //   laypage.render({
        //     elem: 'page_div_id' //注意，这里的 test1 是 ID，不用加 # 号
        //     , count: table_info_show_id_vue.stuNumbers.length //数据总数，从服务端得到
        //     , jump: function (obj, first) {
        //       //obj包含了当前分页的所有参数，比如：
        //       // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
        //       // console.log(obj.limit); //得到每页显示的条数
        //
        //       //首次不执行
        //       if (!first) {
        //         //do something
        //       }
        //     }
        //   });
        // });
      })
    },
    methods: {
      edit(index) {
        //校验信息合法性
        let stuInfo = {};
        if (!$('#stuNumber' + index).val().trim()) {
          myAlert('请输入学号!!!');
          return;
        }
        if ($('#stuNumber' + index).val().trim() !== this.stuNumbers[index]) {
          stuInfo.stuNumber = $('#stuNumber' + index).val().trim();
        }

        if (!$('#stuClass' + index).val().trim()) {
          myAlert('请输入班级!!!');
          return;
        }
        stuInfo.stuClass = $('#stuClass' + index).val().trim();

        if (!$('#name' + index).val().trim()) {
          myAlert('请输入姓名!!!');
          return;
        }
        stuInfo.name = $('#name' + index).val().trim();

        if (!$('#password' + index).val().trim()) {
          myAlert('请输入密码!!!');
          return;
        }
        stuInfo.password = $('#password' + index).val().trim();

        if (!$('#inSchoolYear' + index).val().trim()) {
          myAlert('请输入入学年线!!!');
          return;
        }
        stuInfo.inSchoolYear = $('#inSchoolYear' + index).val().trim();

        stuInfo.phone = $('#phone' + index).val().trim();

        if ($('#change_college_id' + index).val()) {
          if ($('#change_college_id' + index).val() !== this.colleges[index]) {
            if (!$('#change_depart_id' + index).val()) {
              myAlert('换学院必须换系!!!');
              return;
            }
          }
        }

        if (!$('#change_college_id' + index).val()) {
          stuInfo.college = collegeIds[outerColleges.indexOf(this.colleges[index])];
        } else {
          stuInfo.college = collegeIds[outerColleges.indexOf(
              $('#change_college_id' + index).val())];
        }
        if (!$('#change_depart_id' + index).val()) {
          stuInfo.depart = departInDepartsIds[index][outerDepartInDeparts[index].indexOf(
              this.departs[index])];
        } else {
          stuInfo.depart = departInDepartsIds[index][outerDepartInDeparts[index].indexOf(
              $('#change_depart_id' + index).val())];
        }

        /**
         * 修改信息
         */
        console.log(stuInfo);
        let formData = new FormData();
        formData.append('stuInfo', JSON.stringify(stuInfo));
        formData.append('oldStuNumber', this.stuNumbers[index]);
        $.ajax({
          method: 'post',
          url: '/stuinfo/sctc/usi',
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            if (response) {
              if ($('#stuNumber' + index).val().trim()
                  !== table_info_show_id_vue.stuNumbers[index]) {
                table_info_show_id_vue.stuNumbers[index] = $('#stuNumber' + index).val().trim();
              }
              table_info_id_vue.queryUserInfo(1);
              myAlert('修改成功!!!');
            } else {
              myAlert('该学号已存在,修改失败!!!');
            }
          }
        });

      },
      del(index) {
        //得到当前操作的id
        if (confirm('确认删除学生学号为:' + this.stuNumbers[index] + " 的学生?")) {
          $.post('/stuinfo/sctc/delsi', {id: this.ids[index]}, function (response) {
            if (response) {
              myAlert('删除成功!!!');
              //重新查询数据
              table_info_id_vue.queryUserInfo(1);
            }
          }).fail(function () {
            myAlert('删除失败!!!')
          });
        }
      },
    }
  });

  /**
   * 获取学院信息
   */
  function queryColleges() {
    requestSchoolInfo('/stuinfo/sic/qcs', {}).then(colleges => {
      if (colleges) {
        let tempColleges = [];
        let tempCollegeIds = [];
        colleges.forEach((college) => {
          try {
            tempColleges.push(college.college);
            tempCollegeIds.push(college.id);
          } catch (e) {
            console.log(e)
          }
        });
        if (tempColleges.length > 0) {
          outerColleges = tempColleges;
          collegeIds = tempCollegeIds;
        }
        // renderFrom();
        return;
      }
      myAlert('获取学院信息失败!!!');
    });
  }

  queryColleges();

  /**
   * 获取系信息
   */

  function queryDepart(collegeId, departId, index, partQuery) {
    $.ajax({
      method: 'post',
      url: '/stuinfo/sic/qds',
      data: {collegeId: collegeId},
      async: false,
      success: function (departs) {
        if (departs) {
          let tempDeparts = [];
          let tempDependCollegeIds = [];
          let tempDepartIds = [];
          departs.forEach((depart) => {
            try {
              /**
               *返回的数据形式为[{},{},{}]
               */
              tempDeparts.push(depart.depart);
              tempDependCollegeIds.push(depart.collegeId);
              tempDepartIds.push(depart.id);
            } catch (e) {
            }
          });
          if (tempDeparts.length > 0) {
            function inner() {
              // console.log(tempColleges)
              //系下拉框第一个显示得操作
              let departIndex = tempDepartIds.indexOf(departId);
              let a = tempDeparts[0];
              tempDeparts[0] = tempDeparts[departIndex];
              tempDeparts[departIndex] = a;

              if (!partQuery) {
                table_info_show_id_vue.departs[index] = tempDeparts[0];
              }

              let b = tempDependCollegeIds[0];
              tempDependCollegeIds[0] = tempDependCollegeIds[departIndex];
              tempDependCollegeIds[departIndex] = b;

              let c = tempDepartIds[0];
              tempDepartIds[0] = tempDepartIds[departIndex];
              tempDepartIds[departIndex] = c;
            }

            /**
             * 点击某一行的查询
             */
            if (partQuery) {
              if (departId) {
                inner();
              }
              outerDepartInDeparts[index] = tempDeparts;
              departInDepartsDependCollegeIds[index] = tempDependCollegeIds;
              departInDepartsIds[index] = tempDepartIds;
              console.log(outerDepartInDeparts[index]);
              table_info_show_id_vue.departInDeparts = [];
              table_info_show_id_vue.departInDeparts = outerDepartInDeparts;
            }
            /**
             * 初次条件查询
             */
            else {
              let tempColleges = [];
              tempColleges.push(outerColleges[collegeIds.indexOf(collegeId)]);
              table_info_show_id_vue.colleges[index] = tempColleges[0];
              for (let outerCollege of outerColleges) {
                if (tempColleges.indexOf(outerCollege) === -1) {
                  tempColleges.push(outerCollege);
                }
              }

              inner();

              outerDepartInDeparts[index] = tempDeparts;
              departInDepartsDependCollegeIds[index] = tempDependCollegeIds;
              departInDepartsIds[index] = tempDepartIds;
              outerCollegeInColleges[index] = tempColleges;
            }
          }
          return;
        }
        myAlert('获取系信息失败!!!');
      }
    })
    ;
  }

  function myAlert(content) {
    layer.open({
      title: '提示'
      , content: content
    });
  }

  var stuId = '';
  var fileType = '';
  var table_show_upload_id_vue = new Vue({
    el: '#table_file_info_id',
    data: {
      fileNames: [],
      fileUrls: [],
      uploadTimes: [],
      inputUserNumber: '',
      showFileType: ''
    },
    methods: {
      queryFile(index) {
        if (this.inputUserNumber.trim()) {
          $.post('/stuinfo/sctc/qsis', {stuNumber: this.inputUserNumber.trim()},
              function (response) {
                if (response && response.length > 0) {
                  if (teacherClass == response[0].stuClass) {
                    fileType = index;
                    stuId = response[0].id;
                    let formData = new FormData();
                    formData.append('id', response[0].id);
                    formData.append('isTeacher', '1');
                    formData.append('stuUploadType', index + '');
                    queryFilesUrl(formData, index);
                  } else {
                    myAlert('该学生不是您班的!!!');
                  }
                }
              })
        } else {
          myAlert('输入学生学号!!!');
        }

      },
      download(index) {
        let a = document.createElement('a');
        a.download = this.fileNames[index];
        a.href = this.fileUrls[index];
        a.click();
      },
      del(index) {
        if (stuId && fileType) {
          if (confirm('确认删除文件:' + this.fileNames[index] + ' ?')) {
            $.post('/stuinfo/stfc/df', {
              id: stuId,
              isTeacher: 1,
              fileType: fileType,
              url: this.fileUrls[index]
            }, function (response) {
              let tempArr = [[],[],[]];
              function inner(arr, index,tempArrIndex) {
                arr.forEach((value, i) => {
                  if (i !== index) {
                    tempArr[tempArrIndex].push(value);
                  }
                })
              }

              inner(table_show_upload_id_vue.fileUrls,index,0);
              inner(table_show_upload_id_vue.fileNames,index,1);
              inner(table_show_upload_id_vue.uploadTimes,index,2);

              table_show_upload_id_vue.fileNames = [];
              table_show_upload_id_vue.uploadTimes = [];
              table_show_upload_id_vue.fileUrls = [];

              table_show_upload_id_vue.fileNames = tempArr[1];
              table_show_upload_id_vue.fileUrls = tempArr[0];
              table_show_upload_id_vue.uploadTimes = tempArr[2];
              if (table_show_upload_id_vue.fileUrls.length == 0) {
                table_show_upload_id_vue.showFileType = '';
              }
            })
          }
        }
      }
    }
  });

  function queryFilesUrl(formData, index) {
    $.ajax({
      type: "POST",
      url: '/stuinfo/stfc/qfu',
      data: formData,
      contentType: false,
      processData: false,
      success: function (response) {
        if (response) {
          if (response.length > 0) {
            table_show_upload_id_vue.fileUrls = response;
            let fileNames = [];
            let uploadTimes = [];
            for (let x of response) {
              fileNames.push(x.split('filename=')[1]);
              uploadTimes.push(x.split('&long=')[0].split('data=')[1]);
            }
            table_show_upload_id_vue.fileNames = fileNames;
            table_show_upload_id_vue.uploadTimes = uploadTimes;
            switch (index) {
              case 0:
                table_show_upload_id_vue.showFileType = '获奖文件';
                break;
              case 1:
                table_show_upload_id_vue.showFileType = '个人简介';
                break;
              case 2:
                table_show_upload_id_vue.showFileType = '成绩';
                break;
              case 3:
                table_show_upload_id_vue.showFileType = '实习经历';
                break;
            }
          } else {
            table_show_upload_id_vue.fileNames = [];
            table_show_upload_id_vue.uploadTimes = [];
            table_show_upload_id_vue.fileUrls = [];
            table_show_upload_id_vue.showFileType='';
            myAlert('未查询到任何数据!!!');
          }
        }
      },
      error: function (e) {
      }
    });
  }
</script>

</html>